<div class="container">
  <div class="gradient-section">
    <div class="text-section">
      <p class="p-top">Hi my name is</p>
      <h1>Adel Pazoki Toroudi</h1>
      <p>a univesity of waterloo engineering student</p>
      <div class="row-icons">
        <div>
          <a href="https://www.linkedin.com/in/adel-pazoki-toroudi" target="_blank">
            <img class="icon contact-icon" src="../assets/linkedin.png"/>
          </a>
        </div>
        <div>
          <a href="https://github.com/Adelpzk" target="_blank">
            <img class="icon contact-icon" src="../assets/github.png"/>
          </a>
        </div>
        <div>
          <a href="https://drive.google.com/file/d/1sd1tOZEY1520zHeEwoFltsEderlsNQFt/view?usp=sharing" target="_blank">
            <img class="icon contact-icon" src="../assets/Resume.png"/>
          </a>
        </div>
      </div>
    </div>
    <div class="image-section">
      <img src="../../assets/PortfolioSimpsonNobg.png" alt="Description of image" />
    </div>
  </div>
</div>
